body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
}

h1 {
    color: #333;
}

form {
    width: calc(100% - 40px);
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    padding: 10px;
    width: 77%;
}

button {
    padding: 10px 15px;
    width: 20%;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 20px;
    width: calc(100% - 40px);
    box-sizing: border-box;
}

ul li {
    background-color: #fff;
    color: #333;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    word-break: break-word;
}

ul li.completed {
    text-decoration: line-through;
    color: #777;
}

ul li input[type="checkbox"] {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        max-width: none;
        padding: 0; /* Elimina el padding para evitar problemas de desbordamiento */
    }

    form {
        width: 100%; /* El formulario ocupa el ancho total del contenedor */
        margin: 20px 0;
        flex-direction: column;
        padding: 0 20px; /* Añade padding aquí para alinear con el contenido del contenedor */
    }

    input[type="text"], button {
        width: 100%; /* Ajusta el ancho para ocupar el 100% del espacio disponible */
        margin: 5px 0; /* Solo margen superior e inferior */
        box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    }
}
