body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px; /* Ajusta el ancho máximo según lo necesites */
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%; /* Asegura que el formulario ocupe todo el ancho del contenedor */
    display: flex;
    justify-content: center;
}

input[type="text"] {
    padding: 10px;
    width: 80%; /* Ajusta el ancho del input */
    margin-right: 5px;
}

button {
    padding: 10px 15px;
    background-color: #5cb85c;
    border: none;
    color: white;
    cursor: pointer;
    width: 20%; /* Ajusta el ancho del botón */
}

button:hover {
    background-color: #4cae4c;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%; /* Asegura que la lista ocupe todo el ancho del contenedor */
    margin: 0 20px; /* Añade márgenes a los lados de la lista */
}

ul li {
    background-color: #fff;
    color: #333;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    width: 100%; /* Asegura que cada elemento de la lista ocupe todo el ancho */
}

ul li.completed {
    text-decoration: line-through;
    color: #777;
}

ul li input[type="checkbox"] {
    margin-right: 10px;
}
